@model IEnumerable<PedidosManagement.Model.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de Clientes</h1>

<p>
    <a asp-action="Create">Crear Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacionAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTelefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                @*            <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacionAuto)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
